@model Endjin.Core.Composition.Samples.Net45.Models.SampleViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Sample Page</title>
    </head>
    <body>
        <div>
              <p>@Model.Message</p>
        </div>
    </body>
</html>